SUPABASE_PROJECT_ID="nssjtgkzaltovnxkmybq"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_cJzAhx4iX6w1FURcJif1Qg_hbGA2oL6"
SUPABASE_URL="https://nssjtgkzaltovnxkmybq.supabase.co"
VITE_SUPABASE_PROJECT_ID="nssjtgkzaltovnxkmybq"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_cJzAhx4iX6w1FURcJif1Qg_hbGA2oL6"
VITE_SUPABASE_URL="https://nssjtgkzaltovnxkmybq.supabase.co"
